# sqlite storage
SQLITE_STORAGE_PATH=./storage/storage.db

# task list format 
FORMAT_MAX_WIDTH=50
# possible values: created, updated, description
FORMAT_EXTRA_COLUMNS=created

# color format
COLORED_OUTPUT=1